---

- name: "Set VPC filter"
  set_fact:
    helm_vpc_filters:
      - key: state
        val: available
      - key: "tag:Name"
        val: "{{ cluster_env }}-kubernetes-{{ inventory_hostname }}.k8s.local"
      - key: "tag:kubernetes.io/cluster/{{ cluster_env }}-kubernetes-{{ inventory_hostname }}.k8s.local"
        val: shared

- name: "Gather vpc facts"
  ec2_vpc_net_facts:
    aws_access_key: "{{ lookup('ENV', 'AWS_ACCESS_KEY') | default(omit) }}"
    aws_secret_key: "{{ lookup('ENV', 'AWS_SECRET_KEY') | default(omit)  }}"
    security_token: "{{ lookup('ENV', 'AWS_SECURITY_TOKEN') | default(omit) }}"
    profile: "{{ helm_profile | default(omit) }}"
    region: "{{ cluster_region }}"
    filters: "{{ helm_vpc_filters | get_attr('key', 'val') }}"
  register: _helm_vpc_facts

- name: "Fail if vpc was not found"
  assert:
    that:
      - _helm_vpc_facts.vpcs is defined
      - _helm_vpc_facts.vpcs | length == 1
    msg: Not exactly one VPC has been found

- name: "Set vpc id"
  set_fact:
    helm_vpc_id: "{{ _helm_vpc_facts.vpcs[0].id }}"
